<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-weekly-cash-holding-heading" data-cy="WeeklyCashHoldingCreateUpdateHeading">Create or edit a Weekly Cash Holding</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_reportingDate">Reporting Date</label>
          <div class="input-group">
            <input
              id="field_reportingDate"
              data-cy="reportingDate"
              type="text"
              class="form-control"
              name="reportingDate"
              ngbDatepicker
              #reportingDateDp="ngbDatepicker"
              formControlName="reportingDate"
            />
            <button type="button" class="btn btn-secondary" (click)="reportingDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('reportingDate')!.invalid && (editForm.get('reportingDate')!.dirty || editForm.get('reportingDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('reportingDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fitUnits">Fit Units</label>
          <input type="number" class="form-control" name="fitUnits" id="field_fitUnits" data-cy="fitUnits" formControlName="fitUnits" />
          <div *ngIf="editForm.get('fitUnits')!.invalid && (editForm.get('fitUnits')!.dirty || editForm.get('fitUnits')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fitUnits')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('fitUnits')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_unfitUnits">Unfit Units</label>
          <input
            type="number"
            class="form-control"
            name="unfitUnits"
            id="field_unfitUnits"
            data-cy="unfitUnits"
            formControlName="unfitUnits"
          />
          <div *ngIf="editForm.get('unfitUnits')!.invalid && (editForm.get('unfitUnits')!.dirty || editForm.get('unfitUnits')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('unfitUnits')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('unfitUnits')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bankCode">Bank Code</label>
          <select
            class="form-control"
            id="field_bankCode"
            data-cy="bankCode"
            name="bankCode"
            formControlName="bankCode"
            [compareWith]="compareInstitutionCode"
          >
            <option *ngIf="!editForm.get('bankCode')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="institutionCodeOption" *ngFor="let institutionCodeOption of institutionCodesSharedCollection">
              {{ institutionCodeOption.institutionName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['bankCode'])!.invalid && (editForm.get(['bankCode'])!.dirty || editForm.get(['bankCode'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['bankCode'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_branchId">Branch Id</label>
          <select
            class="form-control"
            id="field_branchId"
            data-cy="branchId"
            name="branchId"
            formControlName="branchId"
            [compareWith]="compareBankBranchCode"
          >
            <option *ngIf="!editForm.get('branchId')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="bankBranchCodeOption" *ngFor="let bankBranchCodeOption of bankBranchCodesSharedCollection">
              {{ bankBranchCodeOption.branchCode }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['branchId'])!.invalid && (editForm.get(['branchId'])!.dirty || editForm.get(['branchId'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['branchId'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_subCountyCode">Sub County Code</label>
          <select
            class="form-control"
            id="field_subCountyCode"
            data-cy="subCountyCode"
            name="subCountyCode"
            formControlName="subCountyCode"
            [compareWith]="compareCountySubCountyCode"
          >
            <option *ngIf="!editForm.get('subCountyCode')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="countySubCountyCodeOption" *ngFor="let countySubCountyCodeOption of countySubCountyCodesSharedCollection">
              {{ countySubCountyCodeOption.subCountyName }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['subCountyCode'])!.invalid && (editForm.get(['subCountyCode'])!.dirty || editForm.get(['subCountyCode'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['subCountyCode'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_denomination">Denomination</label>
          <select
            class="form-control"
            id="field_denomination"
            data-cy="denomination"
            name="denomination"
            formControlName="denomination"
            [compareWith]="compareKenyanCurrencyDenomination"
          >
            <option *ngIf="!editForm.get('denomination')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="kenyanCurrencyDenominationOption"
              *ngFor="let kenyanCurrencyDenominationOption of kenyanCurrencyDenominationsSharedCollection"
            >
              {{ kenyanCurrencyDenominationOption.currencyDenominationType }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['denomination'])!.invalid && (editForm.get(['denomination'])!.dirty || editForm.get(['denomination'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['denomination'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
