<div>
  <h2 id="page-heading" data-cy="ExchangeRateHeading">
    <span>Exchange Rates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exchange-rate"
        [routerLink]="['/exchange-rate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Exchange Rate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Exchange Rate</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="exchangeRates?.length === 0">
    <span>No Exchange Rates found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="exchangeRates && exchangeRates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="businessReportingDay">
            <div class="d-flex">
              <span>Business Reporting Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="buyingRate">
            <div class="d-flex">
              <span>Buying Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sellingRate">
            <div class="d-flex">
              <span>Selling Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="meanRate">
            <div class="d-flex">
              <span>Mean Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="closingBidRate">
            <div class="d-flex">
              <span>Closing Bid Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="closingOfferRate">
            <div class="d-flex">
              <span>Closing Offer Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usdCrossRate">
            <div class="d-flex">
              <span>Usd Cross Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="institutionCode.institutionName">
            <div class="d-flex">
              <span>Institution Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currencyCode.alphabeticCode">
            <div class="d-flex">
              <span>Currency Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exchangeRate of exchangeRates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exchange-rate', exchangeRate.id, 'view']">{{ exchangeRate.id }}</a>
          </td>
          <td>{{ exchangeRate.businessReportingDay | formatMediumDate }}</td>
          <td>{{ exchangeRate.buyingRate }}</td>
          <td>{{ exchangeRate.sellingRate }}</td>
          <td>{{ exchangeRate.meanRate }}</td>
          <td>{{ exchangeRate.closingBidRate }}</td>
          <td>{{ exchangeRate.closingOfferRate }}</td>
          <td>{{ exchangeRate.usdCrossRate }}</td>
          <td>
            <div *ngIf="exchangeRate.institutionCode">
              <a [routerLink]="['/institution-code', exchangeRate.institutionCode.id, 'view']">{{
                exchangeRate.institutionCode.institutionName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exchangeRate.currencyCode">
              <a [routerLink]="['/iso-currency-code', exchangeRate.currencyCode.id, 'view']">{{
                exchangeRate.currencyCode.alphabeticCode
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exchange-rate', exchangeRate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exchange-rate', exchangeRate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(exchangeRate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="exchangeRates && exchangeRates.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
