<div>
  <h2 id="page-heading" data-cy="WeeklyCounterfeitHoldingHeading">
    <span>Weekly Counterfeit Holdings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-weekly-counterfeit-holding"
        [routerLink]="['/weekly-counterfeit-holding/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Weekly Counterfeit Holding </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Weekly Counterfeit Holding</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="weeklyCounterfeitHoldings?.length === 0">
    <span>No Weekly Counterfeit Holdings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="weeklyCounterfeitHoldings && weeklyCounterfeitHoldings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportingDate">
            <div class="d-flex">
              <span>Reporting Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateConfiscated">
            <div class="d-flex">
              <span>Date Confiscated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serialNumber">
            <div class="d-flex">
              <span>Serial Number</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="depositorsNames">
            <div class="d-flex">
              <span>Depositors Names</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tellersNames">
            <div class="d-flex">
              <span>Tellers Names</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateSubmittedToCBK">
            <div class="d-flex">
              <span>Date Submitted To CBK</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weeklyCounterfeitHolding of weeklyCounterfeitHoldings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/weekly-counterfeit-holding', weeklyCounterfeitHolding.id, 'view']">{{ weeklyCounterfeitHolding.id }}</a>
          </td>
          <td>{{ weeklyCounterfeitHolding.reportingDate | formatMediumDate }}</td>
          <td>{{ weeklyCounterfeitHolding.dateConfiscated | formatMediumDate }}</td>
          <td>{{ weeklyCounterfeitHolding.serialNumber }}</td>
          <td>{{ weeklyCounterfeitHolding.depositorsNames }}</td>
          <td>{{ weeklyCounterfeitHolding.tellersNames }}</td>
          <td>{{ weeklyCounterfeitHolding.dateSubmittedToCBK | formatMediumDate }}</td>
          <td>{{ weeklyCounterfeitHolding.remarks }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/weekly-counterfeit-holding', weeklyCounterfeitHolding.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/weekly-counterfeit-holding', weeklyCounterfeitHolding.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(weeklyCounterfeitHolding)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="weeklyCounterfeitHoldings && weeklyCounterfeitHoldings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
